body {
  margin: 2rem;
  padding: 0;
  box-sizing: border-box;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(6, 90, 90);
}

header {
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  padding-top: 20px;
}

header h1 {
  margin-bottom: 0;
  text-decoration-line: underline;
  text-decoration-thickness: 0.3rem;
  animation-name: animation;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
  animation-delay: 0.5s;
}

@keyframes animation {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(20px);
  }
}

section {
  margin-bottom: 3rem;
}

section h2 {
  text-align: center;
  font-style: italic;
  margin-bottom: 5rem;
}

section h3 {
  text-align: center;
  text-transform: uppercase;
}

.grid-item img {
  width: 80%;
  animation-name: animated-item;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
  animation-delay: 0.5s;
}

@keyframes animated-item {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.grid-item {
  transition: 0.5s linear all;
}

.grid-item:hover {
  cursor: pointer;
  transform: translateY(-8px);
}

#grid-floats img {
  box-sizing: border-box;
  border: 2px solid rgb(86, 180, 211);
  border-radius: 50%;
}

#grid-floats {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-content: start;
  justify-content: start;
  justify-items: start;
}

#grid-floats .grid-item {
  box-sizing: border-box;
  margin: 0;
  flex-basis: 100%;
  max-width: calc(50% - 1rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: justify;
  border: 5px solid rgb(86, 180, 211);
  border-radius: 20px;
  list-style-type: none;
  box-shadow: 10px -10px rgba(173, 216, 230, 0.596);
  padding: 0 20px;
}

#grid-floats li:first-child {
  max-width: 100%;
}

#grid-flex {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

#grid-flex img {
  width: 80%;
  box-sizing: border-box;
  border: 2px dotted rgb(165, 15, 102);
  border-radius: 10px;
}

#grid-flex .grid-item {
  grid-column: span 3;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: justify;
  border: 5px dotted rgb(56, 3, 34);
  border-radius: 20px;
  list-style-type: none;
  box-shadow: 10px -10px rgba(204, 109, 163, 0.637);
  padding: 0 1rem;
  margin: 0;
}

#grid-flex li:first-child {
  grid-column: span 6;
}

@media screen and (min-width: 680px) {
  #grid-floats .grid-item:nth-child(1),
  #grid-floats .grid-item:nth-child(2) {
    max-width: calc(50% - 1rem);
  }
  #grid-floats li:nth-child(n + 3) {
    max-width: calc(33.33% - 1.5rem);
  }

  #grid-flex li:first-child,
  #grid-flex li:nth-child(2) {
    grid-column: span 3;
  }
  #grid-flex .grid-item {
    grid-column: span 2;
  }
}

@media screen and (min-width: 1000px) {
  #grid-floats .grid-item:nth-child(n + 2) {
    max-width: calc(25% - 3.5rem);
  }
  #grid-floats .grid-item:first-child {
    max-width: calc(50% - 5rem);
  }

  #grid-flex {
    grid-template-columns: repeat(8, 1fr);
  }
  #grid-flex li:first-child {
    grid-column: span 4;
  }
  #grid-flex li:nth-child(2) {
    grid-column: span 2;
  }
  #grid-flex .grid-item {
    grid-column: span 2;
  }
}
